#login{
  font-size:0.9em;
  position: absolute;
  top: 20px;
  right: 20px;
}

body {
        height: 400px;
        background-image: url( "./background.jpg" );
        background-repeat: no-repeat;
        background-position: center center;
        background-color: rgba(255,255,255,0.1);
}
